.adWrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.adWrapper .videoWrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    width: 50%;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}
/* .carousel{
    position: relative;
    width: 500px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: red;
} */