.home {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
}

.home .orderBtn,
.home .heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.home .orderBtn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.home .orderBtn .orderBtnWrapper {
    gap: 20px;
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home .orderBtn .orderBtnWrapper .imgLeaveContainer {
    height: 400px;
    width: 100px;
    display: flex;
    position: absolute;
    z-index: -2;
}

.home .orderBtn .orderBtnWrapper .imgLeaveContainer img {

    background-color: transparent;
    object-fit: contain;
    display: flex;
    height: inherit;
    width: auto;
}

.home .orderBtn .orderBtnWrapper .mainOrderBtn {
    align-items: flex-start;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home .orderBtn .orderBtnWrapper .mainOrderBtn h3 {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 40px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    color: #E61A32;
}

.home .orderBtn .orderBtnWrapper .mainOrderBtn button {
    background-color: #E61A32;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    display: flex;
    font-size: 20px;
    left: 0px;
    gap: 10px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home .orderBtn .orderBtnWrapper .mainOrderBtn button span {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .heroImage {
    position: relative;
    overflow: hidden;
}

.home .heroImage .mainHeroImg {
    height: inherit;
    width: auto;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;

}

.home .heroImage .mainHeroImg img {
    transform: translateX(12%);
    object-fit: contain;
    position: relative;
    display: flex;
    width: auto;
    height: 130%;
}