.subscribe {
    position: relative;
    margin: 20px 0px;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.subscribe h4 {
    font-style: normal;
    color: #E61A32;
    font-size: 60px;
    margin: auto;
    display: flex;
    font-family: 'Lavishly Yours', cursive;
}

.subscribe h1 {
    font-family: lato;
    font-size: 35px;
    color: gray;
    margin: auto;
}

.subscribeForm {
    padding: 2px;
    margin: auto;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid lightslategray;
    box-shadow: 5px 0.5em 10px rgba(128, 128, 128, 0.685);
}

.subscribeForm input {
    height: 50px;
    width: 100%;
    font-family: lato;
    font-weight: normal;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    border: none;
    outline: none;
    padding: 20px;
}

.subscribeForm input::placeholder {
    font-size: 20px;
    left: -50%;
    color: lightgray;
    font-weight: bold;
    margin: auto;
}

.subscribeForm .suscribeButton {
    background: linear-gradient(179.59deg, #E61A32 -1.54%, #A70317 108.43%);
    border-radius: 50%;
    display: flex;
    height: auto;
    width: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.submitBtnIcon {
    position: relative;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 50%;
    color: #fff;
    width: 100%;
    height: inherit;
    display: flex;
    margin: auto;
    object-fit: contain;

}