@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Kaushan+Script&family=Lato&family=Lavishly+Yours&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(255, 208, 0); */
}

.app {
    display: flex;
    flex-direction: column;overflow: hidden;
}

.headerTag {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    width: 100%;
    padding-left: 10%;
}

.sectionHeader {
    width: auto;
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sectionHeader .headerTag1 {
    font-family: roboto;
    color: #E61A32;
    font-style: normal;
    display: flex;
    font-size: 100px;
    -webkit-text-stroke-width: 1px;
    padding: 0px;
    line-height: initial;
    -webkit-text-fill-color: transparent;
}

.sectionHeader .headerTag2 {
    line-height: initial;
    display: flex;
    font-family: roboto;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #E61A32;
}

.hr {
    border: none;
    height: 1px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}